# fly.toml app configuration file generated for wooanalytics-worker on 2025-11-19T19:48:44-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wooanalytics-worker'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile.fly'

[env]
  PORT = '3333'

[http_service]
  internal_port = 3333
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
